.link {
    font-size: 2vw;
    padding: 3vw  
}

@media screen and (max-width: 500px){
    .link {
        font-size: 3vw;
        text-overflow: ellipsis;
        white-space: nowrap;        
        padding: 1.5vw
    }
}