.playerpagebody {
    background-color: black;
    display: flex;
    justify-content: center;
    height: 100vh
}

.playerpageinnerbody {
    background-color: navy;
    width: 80vw;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 30vw;
    height: 85vh;
    background-color: white;
    display: flex;
    flex-direction: column;    
    border: 5px solid black;
    transition-duration: 1.5s;
    transform-style: preserve-3d;
}

.playerphoto {
    width: 100%;      
}

.namebody {
    height: 9%;
    background-color: navy;
    border: 3px solid silver;
    display: flex;
    align-items: center;
}

.playername {    
    margin: 0;
    text-align: center;
    font-size: 1.8vw;
    color: white;    
    width: 98%;          
}

.biobody {
    display: flex;
    align-items: center;
    height: 50%;
    flex-direction: column;
}

.bio {
    font-size: 1.2rem;
}

.back {
    transform: rotateY(180deg);      
}

.card:hover {
    transform: rotateY(180deg);
    transition-duration: 1.5s;
}

.card:hover .front {
    display: none;
}

.front {
    position: absolute
}

.statstable {
    border: 1px solid black;    
    color: navy;  
    table-layout: fixed;
    width: 100%;
    margin-bottom: 30px;
    height: 200px;
    border-collapse: collapse;     
}

.tablehead {
    border: 1px solid black
}

.statsrow {
    border: 1px solid black
}

.tabledata {
    border: 1px solid black;
    text-align: center;
    font-size: 22px;
}