.playerpagebody {
    background-color: black;
    display: flex;
    justify-content: center;
    height: 95vh
}

.playerpageinnerbody {
    background-color: navy;
    width: 80vw;  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hoverheader {
    color: white    
}

.playercard {
    width: 38vw;    
    background-color: silver;
    display: flex;
    flex-direction: column;    
    border: 5px solid black;
    transition-duration: 1.5s;
    transform-style: preserve-3d;   
    text-align: center;   
    height: 75vh  
}

.playerphoto {
    width: 44%;    
    margin-top: 2px;
    border: none
}

.namebody {
    height: 9%;
    background-color: navy;
    border: 3px solid silver;
    display: flex;
    align-items: center;
    width: 100%
}

.playername {    
    margin: 0;
    text-align: center;
    font-size: 1.8vw;
    color: white;    
    margin: auto         
}

.biobody {
    display: flex;
    overflow: hidden    
}

.bio {
    font-size: 2rem;    
    margin-top: 3rem;
    color: black;    
}

.back {
    transform: rotateY(180deg);     
    color: black;     
}

.playercard:hover {
    transform: rotateY(180deg);
    transition-duration: 1.5s;
}

.playercard:hover .front {
    display: none;
}

.front {
    position: absolute;
}

.statstable {
    border-top: 1px solid black;    
    color: navy;  
    table-layout: fixed;
    width: 100%;
    margin-bottom: 30px;           
}

.tablehead {
    border: 1px solid black;
    height: 70px;
    font-size: 1.5rem;
}

.tablehead:last-child {
    border: none
}

.tablehead:first-child {
    border: none
}

.statsrow {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    height: 50px
}

.tabledata {
    border: 1px solid black;
    text-align: center;
    font-size: 22px;
}

.tabledata:last-child {
    border: none
}

.tabledata:first-child {
    border: none
}